<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Delete Mata Kuliah</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <div th:if="${listNpm!=null || listNpm.size()!=0}">
          <h2 th:text="'Mahasiswa dengan NPM: '"></h2>
          <ul th:each="npm, iterationStatus : ${listNpm}">
            <li th:text="${npm}"></li>
          </ul>
          <h2 th:text="'telah berhasil dihapus.'"></h2>
        </div>
        <div th:if="${(isNotInIrs == false)}">
          <h2 th:text="'Mata Kuliah dengan code  ' + ${code} + ' gagal dihapus! Karena terdaftar dalam IRS Mahasiswa.'"></h2>
        </div>
        <!--        <a class="btn btn-primary" th:href="@{/course/viewall/}">Kembali</a>-->

        <a class="btn btn-info" th:href="@{/mahasiswa}">Kembali</a>

      </div>
    </div>
  </div>
</div>

</body>
</html>