<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Update IRS</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Update IRS</h2>
        <br>
        <form th:action="@{/mahasiswa/}+${npm}+'/'+${id}+'/update'" th:object="${irs}" method="POST">
          <div class="form-row form-inline">
            Id: <br>
            <input class="form-control" type="text" name="id" th:value="${irs.id}" disabled/>
            <br><br>
            Semester: <br>
            <input class="form-control" type="text" name="semester" th:value="${irs.semester}" disabled/>
            <br><br>
            Status: <br>
            <select name="status" class="form-control">
              <option value="Belum Disetujui">Belum Disetujui</option>
              <option value="Disetujui">Disetujui</option>
            </select>
          </div>
          <br><br>
          <div th:if="${listRecentMk.size() != 0}">
            <table class="table">
              <thead>
              <tr class="table-primary">
                <th>Pilih</th>
                <th>Code</th>
                <th>Nama Mata Kuliah</th>
                <th>Sem.</th>
                <th>SKS</th>
                <th>Hari</th>
                <th>Waktu</th>
                <th>Kapasitas</th>
                <th>Total Mahasiswa</th>
                <th>Pengajar</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="matkul, iterationStatus : ${listRecentMk}"
                  th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                <td>
                  <input class="form-check-input" type="checkbox"
                         th:field="*{listMataKuliah}"
                         th:value="${matkul.id}"
                         checked
                  />
                </td>
                <td th:text="${matkul.code}"></td>
                <td th:text="${matkul.namaMatkul}"></td>
                <td th:text="${matkul.semester}"></td>
                <td th:text="${matkul.sks}"></td>
                <td th:text="${matkul.hari}"></td>
                <td th:text="${matkul.waktuMulai} + '-' + ${matkul.waktuSelesai}"></td>
                <td th:text="${matkul.kapasitasKelas}"></td>
                <td th:text="${matkul.totalMahasiswa}"></td>
                <div th:if="${matkul.getListDosenMataKuliah() != null || matkul.getListDosenMataKuliah().size() != 0}" >
                  <td th:each="dosenmk, iterationStatus : ${matkul.getListDosenMataKuliah}" class="form-inline">
                    <span th:text="${dosenmk.getDosen().getNamaDepan()}+ ' ' + ${dosenmk.getDosen().getNamaBelakang()} + ' '"><br></span>
                  </td>
                </div>
                <div th:unless="${matkul.getListDosenMataKuliah.size() != 0}">
                  <td th:text="'-'"></td>
                </div>
              </tr>
              </tbody>
            </table>
          </div>
          <button class="btn btn-primary" type="submit" name="save">Simpan</button>
          <a class="btn btn-primary" th:href="@{/mahasiswa/}+${npm}">Kembali</a>
        </form>
      </div>
    </div>
  </div>
</div>


</body>
</html>