<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Update Mahasiswa</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Update Mahasiswa </h2>
        <br>
        <form th:action="@{/mahasiswa/}+${mahasiswa.npm}+'/update'" th:object="${mahasiswa}" method="POST">
          <input type="hidden" th:field="*{uuid}" />
          Nama Mahasiswa: <br>
          <div class="form-row form-inline">
            <input class="form-control" type="text" name="namaDepan" th:value="${mahasiswa.namaDepan}"/>
            <input class="form-control" type="text" name="namaBelakang" th:value="${mahasiswa.namaBelakang}"/>
            <br><br></div>

          <div class="form-row form-inline">
            NPM: <br>
            <input class="form-control" type="text" name="npm" th:value="${mahasiswa.npm}"/>
            Status: <br>
            <select name="statusMahasiswa" class="form-control" th:value="${mahasiswa.statusMahasiswa}">
              <option value="1">Aktif</option>
              <option value="0">Non-Aktif</option>
            </select>
            <br><br></div>
          Email: <br>
          <input class="form-control" type="email" name="email" th:value="${mahasiswa.email}"/>

          <a class="btn btn-primary" th:href="@{/mahasiswa}">Kembali</a>
          <button class="btn btn-primary" type="submit" name="save">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>