<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>BelajarBelajar</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <div class="m-4">
          <h2>Welcome to i-Ris!</h2>
          <br>
          <h3>List of Features:</h3>
          <div class="d-flex justify-content-center" >
            <a th:href="@{/mahasiswa}" class="mx-2 btn btn-success">Mahasiswa</a>
            <a th:href="@{/mata-kuliah}" class="mx-2 btn btn-success">Mata Kuliah</a>
            <a th:href="@{/filter/mata-kuliah}" class="mx-2 btn btn-success">Filter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>