<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Detail Mahasiswa</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <a th:href="@{/mahasiswa}">←List Mahasiswa</a>
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center" >

        <h2>Detail Mahasiswa</h2>
        <br>
        <table class="table table-borderless">
          <thead>
          <tr>
            <th th:style="'font-weight:bold; color:#30D5C8;'">Npm</th>
            <th th:style="'font-weight:bold; color:#30D5C8;'">Email</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td th:text="${mahasiswa.npm}" th:style="'font-weight:light;'"></td>
            <td th:text="${mahasiswa.email}"></td>
          </tr>
          <tr>
            <th th:style="'font-weight:bold; color:#30D5C8;'">Nama Mahasiswa</th>
            <th th:style="'font-weight:bold; color:#30D5C8;'">Status</th>
          </tr>
          <tr>
            <td th:text="${mahasiswa.namaDepan} + ' ' + ${mahasiswa.namaBelakang}" th:style="'font-weight:light;'"></td>
            <td th:if="${mahasiswa.statusMahasiswa == 1}" th:text="Aktif"></td>
            <td th:if="${mahasiswa.statusMahasiswa == 0}" th:text="Non-Aktif"></td>
          </tr>
          </tbody>
        </table>
        <br>
        <div th:if="*{listIrs.size() != 0}">
          <h3>List IRS</h3>
          <a class="btn btn-sm btn-success" th:href="@{/mahasiswa/} + ${mahasiswa.npm} +'/create-irs'">+ Tambah IRS</a>
          <table class="table">
            <thead>
            <tr class="table-success">
              <th>ID</th>
              <th>Semester</th>
              <th>Total SKS</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="irs, iterationStatus : ${listIrs}">
              <td th:text="${iterationStatus.count}"></td>
              <td th:text="${irs.semester}"></td>
              <td th:text="${irs.jumlahSks}"></td>
              <td th:text="${irs.status}"></td>
              <td>
                <a class="btn btn-sm btn-info" th:href="@{/mahasiswa/} + ${mahasiswa.npm} +'/'+${irs.id}">Detail</a>
                <a class="btn btn-sm btn-warning" th:href="@{/mahasiswa/} + ${mahasiswa.npm} +'/'+${irs.id}+'/update'">Edit</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div th:unless="*{listIrs.size() != 0}">
          <h4 th:text="'Belum ada IRS'"></h4><br>
          <a class="btn btn-sm btn-info" th:href="@{/mahasiswa/} + ${mahasiswa.npm} +'/create-irs'">+ Tambah IRS</a>
        </div>
  </div>
</div>

</body>
</html>