<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Daftar Mata Kuliah</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center" >
                <div class="card-body">
                    <h2>List Mata Kuliah</h2>
                    <a class="btn btn-primary" href="/mata-kuliah/create-matakuliah">+Tambah Mata Kuliah</a>
                </div>
                <div th:if="*{listMataKuliah.size() != 0}">
                    <table class="table">
                        <thead>
                        <tr class="table-primary">
                            <th>No</th>
                            <th>Code</th>
                            <th>Nama Mata Kuliah</th>
                            <th>Sem.</th>
                            <th>SKS</th>
                            <th>Hari</th>
                            <th>Waktu</th>
                            <th>Kapasitas</th>
                            <th>Total Mahasiswa</th>
                            <th>Pengajar</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="matkul, iterationStatus : ${listMataKuliah}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}"></td>
                            <td th:text="${matkul.code}"></td>
                            <td th:text="${matkul.namaMatkul}"></td>
                            <td th:if="${matkul.semester == 'ganjil'}">Ganjil</td>
                            <td th:if="${matkul.semester == 'genap'}">Genap</td>
                            <td th:text="${matkul.sks}"></td>
                            <td th:text="${matkul.hari}"></td>
                            <td th:text="${matkul.waktuMulai} + ' - ' + ${matkul.waktuSelesai}"></td>
                            <td th:text="${matkul.kapasitasKelas}"></td>
                            <td th:text="${matkul.totalMahasiswa}"></td>
                            <div th:if="*{matkul.getListDosenMataKuliah.size() != 0}">
                            <td th:each="dosenmk, iterationStatus : ${matkul.getListDosenMataKuliah}" >
                                <span th:text="${dosenmk.getDosen().getNamaDepan()}+ ' ' + ${dosenmk.getDosen().getNamaBelakang()} + ' '"><br></span>
                            </td>
                            </div>
                            <div th:unless="*{matkul.getListDosenMataKuliah.size() != 0}">
                                <td th:text="'-'"></td>
                            </div>
<!--                            <td th:text="${matkul.waktuMulai.getHours()}+':'+${matkul.waktuMulai.getMinutes()}-->
<!--                                        ' - '+${matkul.waktuSelesai.getHours()}+':'${matkul.waktuSelesai.getMinutes()}"></td>-->
                            <td>
                                <a class="btn btn-sm btn-primary" th:href="@{/mata-kuliah/} + ${matkul.id} ">Detail</a>
                                <a class="btn btn-sm btn-primary" th:href="@{/mata-kuliah/} + ${matkul.id} + @{/delete}">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="*{listMataKuliah.size() != 0}">
                    <br>
                    <h4 th:text="'Belum ada Mata Kuliah, tambahkan Mata Kuliah baru dengan klik tombol Tambah Mata Kuliah!'"></h4>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

</body>
</html>